.sketch-button {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  background-image: linear-gradient(90deg, #fcecfe, #fbf6e7, #e6fcf5);
  border-radius: 11px;
  padding: 12px 20px;
  position: relative;
  line-height: 24px;
  color: #14387e;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02), 0 4px 16px rgba(0, 0, 0, 0.02), 0 4px 24px rgba(0, 0, 0, 0.02);
}
.sketch-button.start svg {
  -webkit-animation: stroke 1s linear;
          animation: stroke 1s linear;
}
.sketch-button .lines {
  position: absolute;
  inset: 0;
  mix-blend-mode: hard-light;
  pointer-events: none;
  z-index: 1;
}
.sketch-button .lines > div {
  position: absolute;
  inset: 0;
}
.sketch-button .lines > div:last-child {
  transform: rotate(180deg);
}
.sketch-button .lines > div svg {
  display: block;
  position: absolute;
  inset: 0;
  overflow: visible;
  fill: none;
  stroke-width: 2;
  stroke: #c9e9ff;
  width: 100%;
  height: 100%;
  stroke-dasharray: 2 10;
  stroke-dashoffset: 14;
  opacity: 0;
}
.sketch-button .lines > div svg:nth-child(1) {
  stroke: #f8fcff;
}
.sketch-button .lines > div svg:nth-child(2) {
  stroke-width: 6px;
  filter: blur(20px);
}
.sketch-button .lines > div svg:nth-child(3) {
  stroke-width: 5px;
  filter: blur(6px);
}
.sketch-button .lines > div svg:nth-child(4) {
  stroke-width: 10px;
  filter: blur(56px);
}

@-webkit-keyframes stroke {
  30%, 55% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 4;
    opacity: 0;
  }
}

@keyframes stroke {
  30%, 55% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 4;
    opacity: 0;
  }
}
/* html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;

    &:before,
    &:after {
        box-sizing: inherit;
    }
} */
.ripple-button {
  display: inline-grid;
  place-items: center;
  position: relative;
  isolation: isolate;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  font-size: 3rem;
  padding: 1em 3em;
  text-transform: uppercase;
  background-color: transparent;
  color: hsl(200deg, 100%, 65%);
  border: 5px solid currentColor;
  border-radius: 0.125em;
  overflow: hidden;
}

.ripple-button::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%) scale(0);
  transition: transform 750ms;
  z-index: -1;
  width: 150%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #fff;
  opacity: 0.5;
}

.pulse::before {
  -webkit-animation: pulse 500ms;
          animation: pulse 500ms;
}

@-webkit-keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
.neon_btn {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
}

.neon_btn:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.3333333333));
}

.neon_btn:nth-child(1) {
  filter: hue-rotate(270deg);
}

.neon_btn:nth-child(2) {
  filter: hue-rotate(110deg);
}

.neon_btn > span {
  position: absolute;
  display: block;
}

.neon_btn > span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  -webkit-animation: animate1 1s linear infinite;
          animation: animate1 1s linear infinite;
}

@-webkit-keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%, 100% {
    left: 100%;
  }
}
.neon_btn > span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  -webkit-animation: animate2 1s linear infinite;
          animation: animate2 1s linear infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

@-webkit-keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}
.neon_btn > span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  -webkit-animation: animate3 1s linear infinite;
          animation: animate3 1s linear infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%, 100% {
    right: 100%;
  }
}
.neon_btn > span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  -webkit-animation: animate4 1s linear infinite;
          animation: animate4 1s linear infinite;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%, 100% {
    bottom: 100%;
  }
}
body {
  background: #14387e;
  padding: 32px;
}/*# sourceMappingURL=index.css.map */